@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto Flex', serif;
    background-color: rgb(22, 22, 43);
}
img{
    width: 100%;
}
.navbar{
    width: 100%;
    height: 88px;
    padding: 15px 30px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    max-width: 200px;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 4rem;
    list-style: none;
}
.nav-links .links a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
}
.sidebar{
    display: none;
    align-items: center;
}
.sidebar i{
    color: #ffffff;
    font-size: 2rem;
}
.img-container img{
    object-fit: cover;
}
.container{
    max-width: 1400px;
    margin: auto;
    padding: 2rem;
}
.header{
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 3rem 0;
}
.overview-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.overview-content{
    background-color: rgb(54, 54, 65);
    padding: 3rem 2rem;
    border-radius: 20px;
}
.overview-content h3{
    text-align: center;
    color: rgb(223, 157, 35);
    margin-bottom: 1rem;
}
.overview-content ul{
    color: #ffffff;
}
.overview-content li{
    padding: 0.7rem 0;
}
.overview-content li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2rem;
}
.about-text{
    color: #ffffff;
    line-height: 2rem;
    font-size: 1.2rem;
}
.img-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.img-gallery img{
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.3s ease;
}
.img-gallery img:hover{
    border: 1px solid #ffffff;
}
.contact-container{
    margin: 2rem 0;
    background-color: rgb(54, 54, 65);
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    border-radius: 20px;
}
.contact-header{
    color: rgb(223, 157, 35);
    margin: 0 0 1rem 0;
}
.contact-form form{
    display: flex;
    flex-direction: column;
}
.contact-form form label{
    color: #ffffff;
    font-weight: 400;
}
.contact-form form input{
    margin-bottom: 0.5rem;
    background-color: rgb(22, 22, 43);
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ffffff60;
}
.contact-form form textarea{
    border-radius: 10px;
    background-color: rgb(22, 22, 43);
    padding: 0.5rem;
    font-size: 1rem;
    color: #ffffff;
    resize: none;
}
.contact-form form button {
    margin: 1rem 0;
    max-width: 100px; 
    padding: 0.5rem 1rem; 
    align-self: flex-start; 
    background-color: rgb(22, 22, 43);
    color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ffffff60;
    cursor: pointer;
}
.contact-list{
    list-style: none;
}
.contact-list li{
    color: #ffffff;
    padding: 1rem 0;
}
.contact-list li span{
    color: rgb(252, 252, 140);
    font-weight: 500;
}
footer{
    width: 100%;
    background-color: rgb(30, 30, 59);
}
footer .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}
.footer-column .footer-header{
    font-size: 2rem;
    color: rgb(252, 252, 140);
}
.footer-column .footer-text{
    margin: 1em 0;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
}
.copyright{
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
}
@media(min-width: 600px) and (max-width: 767px){
    .nav-links{
        display: none;
    }
    .sidebar{
        display: flex;
    }
    .overview-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .img-gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(min-width: 768px) and (max-width: 1073px){
    .overview-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .img-gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
